/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/resources/paip-lisp/Paradigms of AI Programming Source Code.html
/resources/paip-lisp/auxfns.lisp
/resources/paip-lisp/auxfns.lisp~
/resources/paip-lisp/clos.lisp
/resources/paip-lisp/cmacsyma.lisp
/resources/paip-lisp/cmacsyma.lisp~
/resources/paip-lisp/cmacsyma.ufasl
/resources/paip-lisp/compile1.lisp
/resources/paip-lisp/compile2.lisp
/resources/paip-lisp/compile3.lisp
/resources/paip-lisp/compopt.lisp
/resources/paip-lisp/edge-tab.lisp
/resources/paip-lisp/eliza.lisp
/resources/paip-lisp/eliza1.lisp
/resources/paip-lisp/errata.html
/resources/paip-lisp/examples.lisp
/resources/paip-lisp/gps-srch.lisp
/resources/paip-lisp/gps.lisp
/resources/paip-lisp/gps1.lisp
/resources/paip-lisp/grammar.lisp
/resources/paip-lisp/interp1.lisp
/resources/paip-lisp/interp2.lisp
/resources/paip-lisp/interp3.lisp
/resources/paip-lisp/intro.lisp
/resources/paip-lisp/krep.lisp
/resources/paip-lisp/krep1.lisp
/resources/paip-lisp/krep1.lisp~
/resources/paip-lisp/krep2.lisp
/resources/paip-lisp/lexicon.lisp
/resources/paip-lisp/loop.lisp
/resources/paip-lisp/macsyma.lisp
/resources/paip-lisp/macsymar.lisp
/resources/paip-lisp/mycin-r.lisp
/resources/paip-lisp/mycin.lisp
/resources/paip-lisp/othello.lisp
/resources/paip-lisp/othello.lisp~
/resources/paip-lisp/othello2.lisp
/resources/paip-lisp/overview.lisp
/resources/paip-lisp/patmatch.lisp
/resources/paip-lisp/prolog.lisp
/resources/paip-lisp/prolog1.lisp
/resources/paip-lisp/prologc.lisp
/resources/paip-lisp/prologc1.lisp
/resources/paip-lisp/prologc2.lisp
/resources/paip-lisp/prologcp.lisp
/resources/paip-lisp/search.lisp
/resources/paip-lisp/simple.lisp
/resources/paip-lisp/simple.lisp~
/resources/paip-lisp/student.lisp
/resources/paip-lisp/syntax1.lisp
/resources/paip-lisp/syntax2.lisp
/resources/paip-lisp/syntax3.lisp
/resources/paip-lisp/tutor.lisp
/resources/paip-lisp/unifgram.lisp
/resources/paip-lisp/unify.lisp
/resources/paip-lisp/waltz.lisp
